[Desktop Entry]
Version=1.0
Type=Application
Name=Konfyt
Icon=konfyt.png
Exec=/usr/bin/konfyt
NoDisplay=false
Categories=AudioVideo
StartupNotify=false
Terminal=false
GenericName=Digital Keyboard Workstation
