[Desktop Entry]
Version=1.0
Type=Application
Name=Konfyt
Icon=/home/gideon/bin/konfyt.png
Exec=/home/gideon/bin/konfyt
NoDisplay=false
Categories=AudioVideo
StartupNotify=false
Terminal=false
GenericName=Digital Keyboard Workstation
